* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 100px auto;
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-icon .line {
  width: 50px;
  height: 5px;
  background-color: black;
  margin-bottom: 8px;
  transition: 0.4s;
}

.hamburger-toggler .line-1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.hamburger-toggler .line-3 {
  transform: translate(0, -14px) rotate(45deg);
}
.hamburger-toggler .line-2 {
  opacity: 0;
}
