@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #fff;
  width: 600px;
  text-align: center;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}
