* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-area {
  width: 100%;
  height: 90vh;
}

.hero-area .carousel {
  width: 100%;
  height: 100%;
}

.hero-area .carousel .carousel-item {
  width: 100%;
  height: 100%;
  position: relative;
  /* background-image: url("../images/carousel/s1.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-area .carousel .carousel-item::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  position: absolute;
  top: 0;
  left: 0;
}

.hero-area .carousel .carousel-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  color: aliceblue;
}

.hero-area .carousel .carousel-content .carousel-title {
  font-size: 50px;
  text-transform: capitalize;
}
.hero-area .carousel .carousel-content .carousel-des {
  font-size: 25px;
}

.hero-area .carousel .carousel-next {
  position: absolute;
  top: 50%;
  right: 50px;
  background-color: #fff;
  border: none;
  padding: 20px 10px;
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}
.hero-area .carousel .carousel-prev {
  position: absolute;
  top: 50%;
  left: 50px;
  background-color: #fff;
  border: none;
  padding: 20px 10px;
  font-size: 20px;
  cursor: pointer;
  transform: translateY(-50%);
}

@keyframes carouselFadeIn {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
