:root {
  --bg-color: #000;
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  background-color: var(--bg-color);
}

#main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-menu a {
  color: #fff;
  padding: 1rem 2rem;
  text-transform: capitalize;
  font-size: 2rem;
}

/* .active {
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 10px;
} */

#main-menu a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: red;
  display: block;
  transition: width 0.5s ease;
}

#main-menu a.active::after {
  width: 100%;
}
