* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 20px;
  background: #d1d1d1;
  display: flex;
}

.tab-area {
  width: 50%;
  margin: auto;
  padding: 20px;
}
.tab-area .tab-btn {
  margin-bottom: 20px;
}
.tab-area .tab-btn button {
  background-color: #f1f1f1f1;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}
.tab-area .tab-btn button:hover {
  background: #000;
  color: #ffffff;
}

.tab-content {
  display: none;
  animation: fadeEffect 1s;
}

.tab-content h4 {
  background-color: #000000;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.tab-content p {
  background-color: #f1f1f1f1;
  padding: 10px 20px;
}

.active-btn {
  background: #000 !important;
  color: #ffffff !important;
}

.active-content {
  display: block;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
