/*
 * Title: To Do List CSS file
 * Description: This file has all the styles associated with the To Do App project
 * Author:DevZiaus
 * Date: 28/11/2025
 *
 */

* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.container {
  background: #d3efdf;
  padding: 25px;
  max-width: 760px;
  margin: 25px auto;
  overflow: hidden;
  border-radius: 10px;
  border: 4px solid #b1c9bb;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #b1c9bb;
  padding: 0 0 10px;
  color: #57635c;
}

.logo {
  width: 150px;
  height: 150px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100px;
}

.new-task-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.box {
  padding: 10px 15px;
  border: 2px solid #b1c9bb;
  border-radius: 5px;
  background: #fff;
  margin: 15px 0;
}

.todo-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 10px 10px 0;
  border-bottom: 1px dotted #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: Blue;
  border: 0px;
  padding: 3px 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
}

.btn:hover {
  background-color: #0095da80;
}

.complete {
  color: green;
}
overflow: hidden;

.incomplete {
  color: orange;
}

.delete {
  color: red;
}

@media screen and (min-width: 600px) {
  .new-task-container {
    flex-direction: row;
  }

  .todo-lists {
    flex-direction: row;
  }
}

.toast {
  background-color: orange;
  font-size: 30px;
  color: #d3efdf;
  display: inline;
  padding: 5px 20px;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  transform: translateX(150%);
  transition: transform 1s;
}
