* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
}

.card-container {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card-container .card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card-container .card .overlay {
  width: 100%;
  height: 0%;
  background: rgba(0, 0, 0, 0.638);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.2s ease-in;
}

.card-container .card .overlay .overlay-content {
  font-size: 36px;
  display: none;
  color: aliceblue;
}
.card-container .card:hover .overlay {
  height: 100%;
}
.card-container .card:hover .overlay .overlay-content {
  display: block;
}
.card-container .card img {
  width: 100%;
}

@media (max-width: 991.98px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575.98px) {
  .card-container {
    grid-template-columns: auto;
  }
}

/* .card-container {
  max-width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
} */

/* old way */

/* .card-container .card {
  width: calc(25% - 20px);
  margin-right: calc(80px / 3);
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
} */

/* .card-container .card:last-child {
  margin-right: 0px;
}
.card-container .card img {
  width: 100%;
}

@media (max-width: 991.98px) {
  .card-container .card {
    width: calc(50% - 20px);
    margin-right: calc(40px / 1);
  }
  .card-container .card:nth-child(2n) {
    margin-right: 0px;
  }
}
@media (max-width: 575.98px) {
  .card-container .card {
    width: 100%;
    margin-right: 0;
  }
  .card-container .card:nth-child(2n) {
    margin-right: 0px;
  }
}

 */
