* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #d1d1d1;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.login {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  max-width: 500px;
  padding: 30px 50px;
  margin: auto;
  background: #fff;
  border-radius: 10px;
}

.login h2 {
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  padding-bottom: 20px;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}
.input-group label {
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  z-index: 1;
  background-color: #fff;
  padding: 0 5px;
  transition: top 0.5s ease;
  pointer-events: none;
}
.input-group input {
  display: block;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.login button {
  background-color: blue;
  padding: 8px 20px;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  display: block;
  margin-left: auto;
}

.input-group input:valid ~ label {
  top: -11px;
}

.input-group input:focus ~ label {
  top: -11px;
}
