@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-primary: #fdc448;
  --color-gray-1: #141414;
  --color-white: #ffffff;

  --font-primary: "Rajdhani", sans-serif;
  --font-secondary: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 130.5rem;
  padding: 1.5rem;
  margin: 0 auto;
}
/* header css */

#header-section {
  background: var(--color-gray-1);
  /* background: #d1d1d1; */
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-area .main-menu ul {
  display: flex;
  align-items: center;
}
.header-area .main-menu ul li {
  transform: scale(0.98);
  transition: transform 0.2s ease-in-out;
}
.header-area .main-menu ul li a {
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  display: inline-block;
  margin: 0 5px;
  font-size: 1.8rem;
  color: var(--color-white);
  font-weight: 700;
  line-height: 2.8rem;
  position: relative;
}
.header-area .main-menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  /* background: transparent; */
  /* background: var(--color-primary); */

  width: 100%;
  height: 100%;
  border-radius: 4px;
  opacity: 0.3;
}
.header-area .main-menu ul li:hover {
  background: #fdc44863;
  border-radius: 8px;
  transform: scale(1);
}
.header-area .main-menu ul li:hover a {
  color: var(--color-primary);
}

.header-area .nav-icons {
  display: flex;
  gap: 0 5rem;
  align-items: center;
}
.header-area .nav-icons .social-icons {
  display: flex;
  gap: 0 1.5rem;
}
.header-area .nav-icons .social-icons a {
  color: var(--color-white);
  width: 4rem;
  height: 4rem;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.062745098);
  text-align: center;
  line-height: 4.3rem;
  position: relative;
}

.header-area .nav-icons .social-icons a::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-primary);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: all 0.4s ease;
  transform: translate(-50%, -50%) scale(0);
}
.header-area .nav-icons .social-icons a i {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.header-area .nav-icons .social-icons a:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.header-area .nav-icons .humberger_menu {
  color: #fff;
  background: var(--color-primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .header-area .main-menu {
    display: none;
  }
  .header-area .nav-icons .social-icons {
    display: none;
  }
}

/* off canvas left*/
.off-canvas-left {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 100;
  overflow: hidden;
  transform: translateX(-100%);
}

.off-canvas-left-content {
  width: 50%;
  max-width: 30rem;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: red;
  padding: 30px;
  transform: translateX(-100%);
  transition: all 0.3s linear;
  z-index: 110;
}

.off-canvas-left-content .off-canvas-close {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
}

/* off canvas right*/
.off-canvas-right {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
  transform: translateX(100%);
}

.off-canvas-right-content {
  width: 50%;
  max-width: 30rem;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: green;
  padding: 30px;
  transform: translateX(100%);
  transition: all 0.3s linear;
  z-index: 110;
}
.off-canvas-right-content .off-canvas-close {
  font-size: 3rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3rem;
  right: 2rem;
  cursor: pointer;
}
